@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

p {
  color: #bd966a;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  padding-bottom: 35px;
  font-size: 28px;
  line-height: 32px;
}

@media (min-width: 768px), (min-width: 1366px) {
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
}

.container {
  margin: 0 auto;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background-color: #000;
}

@media (min-width: 768px), (min-width: 1366px) {
  .container {
    width: auto;
    font-size: 16px;
    line-height: 20px;
  }
}

.main-header {
  background-color: #181617;
  background-image: url("./img/main-cat-mobile@1x.png");
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
}

.logo {
  padding: 20px 0;
  text-align: center;
}

.logo svg {
  fill: #bd966a;
}

.header__info-wrapper {
  padding: 0 45px;
  padding-top: 56px;
  padding-bottom: 276px;
  text-align: center;
}

.header__info-wrapper h1 {
  padding: 20px 0;
}

.header__info {
  margin: 0 auto;
  max-width: 234px;
}

@media (min-width: 768px), (min-width: 1366px) {
  .header__info {
    margin: 0;
    max-width: 300px;
  }

  .header__info-wrapper {
    text-align: left;
  }

  .header__info-wrapper h1 {
    font-size: 52px;
    line-height: 56px;
  }
}

@media (min-width: 768px) {
  .main-header {
    background-image: url("./img/main-cat-tablet@1x.png");
  }

  .header__info-wrapper {
    padding-bottom: 117px;
    padding-right: 400px;
  }
}

@media (min-width: 1366px) {
  .main-header {
    background-image: url("./img/main-cat-desktop@1x.png");
  }

  .header__info-wrapper {
    padding-bottom: 220px;
    padding-left: 202px;
    padding-right: 500px;
  }
}

.btn {
  margin-top: 40px;
  padding: 12px 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #bd966a;
}

.btn:hover {
  background-color: #bd966a;
}

@media (min-width: 768px), (min-width: 1366px) {
  .btn-link {
    padding: 18px 15px;
  }
}

.section__cats {
  padding: 60px 19px 50px;
  background-color: #1f1c1d;
}

@media (min-width: 768px) {
  .section__cats {
    padding: 100px 10px 50px;
  }
}

@media (min-width: 1366px) {
  .section__cats {
    padding: 223px 141px 50px;
  }
}

@media (min-width: 768px), (min-width: 1366px) {
  .section__cats-description {
    margin: 0 auto;
    max-width: 516px;
  }
}

.section__cats-category-list {
  margin: 40px auto;
  width: 234px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.section__cats-category-item {
  font-size: 16px;
  opacity: 0.4;
  cursor: pointer;
}

.section__cats-category-item:hover {
  opacity: 1;
}

.category-active {
  opacity: 1;
}

@media (min-width: 768px), (min-width: 1366px) {
  .section__cats-category-list li {
    font-size: 18px;
  }
}

.section__cats-slider-wrapper {
  position: relative;
  overflow: hidden;
}

.section__cats-slider {
  margin: 0 auto;
  width: calc(100% - 45px);
}

.section__cats-main-slider {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__cats-slider-main {
  width: 100%;
  flex-shrink: 0;
}

.section__cats-slider-main img {
  max-width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .section__cats-main-slider {
    height: 550px;
    padding: 0 20px;
  }

  .section__cats-slider-main {
    width: 500px;
  }
}

.section__cats-slider-prev,
.section__cats-slider-next {
  width: calc(100% - 650px);
  height: 180px;
  overflow: hidden;
}

.section__cats-slider-prev,
.section__cats-slider-next img {
  object-fit: none;
}

.section__cats-controls-prev,
.section__cats-controls-next {
  position: absolute;
  font-size: 40px;
  color: #bd966a;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section__cats-controls-prev {
  top: 50%;
  left: 0;
}

.section__cats-controls-next {
  top: 50%;
  right: 0;
}

.section__cats-controls-prev,
.section__cats-controls-next:hover {
  color: #fff;
}

@media (min-width: 1366px) {
  .section__cats-main-slider {
    margin: 0 auto;
    padding: 0 40px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .section__cats-slider-main,
  .section__cats-slider-prev {
    justify-self: center;
    align-self: center;
    width: 530px;
    height: 240px;
  }

  .section__cats-slider-next {
    justify-self: center;
    align-self: center;
    width: 530px;
    height: 530px;
  }

  .section__cats-slider-main {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .section__cats-slider-prev {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .section__cats-slider-next {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .section__cats-controls-prev,
  .section__cats-controls-next {
    display: none;
  }
}

.features {
  padding: 60px 18px;
}

.features__list {
  height: 850px;
  padding: 0px 12px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.features__item-wrapper {
  padding: 15px;
  background-color: #1f1c1d;
}

.features__item {
  padding: 40px 44px;
  width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.features__item:hover {
  background-color: #bd966a;
}

.features__item svg {
  margin-bottom: 20px;
  fill: #bd966a;
}

.features__item:hover svg {
  fill: #fff;
}

@media (min-width: 768px) {
  .features__item-wrapper {
    padding: 25px;
  }

  .features__list {
    height: 1050px;
  }
}

@media (min-width: 1366px) {
  .features__list {
    height: auto;
    margin-top: 60px;
    padding: 0px 100px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.reviews {
  padding: 30px 15px;
  background-color: #1f1c1d;
}

.reviews__list {
  position: relative;
  width: calc(100% - 30px);
  margin: 0 auto;
  overflow: hidden;
  list-style-type: none;
}

.reviews__main-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 1s ease-in-out;
}

.reviews__item {
  width: 100%;
  padding-top: 83px;
  position: relative;
  flex-shrink: 0;
  text-align: center;
}

.review__content {
  padding: 118px 42px 40px;
  height: 358px;
  background-color: #000000;
}

.reviews__item img {
  width: 242px;
  position: absolute;
  top: 0;
  left: 40px;
  object-fit: cover;
  object-position: center;
}

.review__content h3 {
  font-size: 18px;
}

.review__content p {
  padding: 25px 0;
  height: 130px;
  color: #fff;
  opacity: 0.7;
  overflow: scroll;
}

.review-footer {
  margin: 10px 14px;
  display: flex;
  justify-content: space-between;
}

.review-footer time {
  font-size: 12px;
  color: #bd966a;
}

.review-footer svg {
  fill: #bd966a;
}

.review-footer svg:hover {
  fill: #fff;
}

.reviews-controls-prev,
.reviews-controls-next {
  position: absolute;
  top: 83px;
  font-size: 30px;
  color: #bd966a;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reviews-controls-prev {
  left: 10px;
}

.reviews-controls-next {
  right: 10px;
}

@media (min-width: 768px) {
  .reviews {
    padding: 30px 103px;
  }

  .reviews__list {
    width: calc(100% - 200px);
  }

  .review__content {
    padding: 148px 42px 40px;
  }

  .reviews__item img {
    width: 302px;
    left: 60px;
  }

  .review-footer {
    margin: 10px 80px;
  }

  .reviews-controls-prev,
  .reviews-controls-next {
    font-size: 40px;
  }
}

@media (min-width: 1366px) {
  .reviews {
    padding: 30px 70px;
  }

  .reviews__list {
    width: calc(100% - 140px);
  }

  .reviews__item {
    padding-top: 50px;
    padding-left: 434px;
    padding-bottom: 50px;
  }

  .review__content {
    padding: 109px 87px 109px 145px;
    max-width: 700px;
    text-align: left;
  }

  .review__content p::-webkit-scrollbar {
    width: 7px;
  }

  .review__content p::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #bd966ad3;
    border-radius: 10px;
  }

  .review__content p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bd966ad8;
  }

  .reviews__item img {
    width: 481px;
    top: 100px;
  }

  .review-footer {
    margin: 10px 0;
    margin-right: 30px;
  }

  .reviews-controls-prev,
  .reviews-controls-next {
    top: 200px;
  }
}

footer {
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
}

footer div {
  margin-bottom: 20px;
}

.contacts {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  padding: 0 118px;
  display: flex;
  justify-content: space-between;
}

.socials svg {
  width: 22px;
  height: 16px;
  fill: #bd966a;
}

.socials svg:hover {
  fill: #fff;
}

footer .logo {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  footer {
    padding: 40px 54px;
    flex-direction: row-reverse;
  }

  footer div {
    margin-bottom: 0;
  }

  .contacts {
    width: 500px;
    flex-direction: row;
  }

  .socials {
    padding: 0;
    width: 60px;
  }

  footer .logo {
    display: none;
  }
}

@media (min-width: 1366px) {
  footer {
    padding: 40px 274px;
    flex-direction: row-reverse;
  }

  footer div {
    margin-bottom: 0;
  }

  .contacts {
    width: 500px;
    flex-direction: row;
  }

  .socials {
    padding: 0;
    width: 60px;
  }

  footer .logo {
    display: block;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-hidden {
  display: none;
}

.new-review-modal {
  position: relative;
  padding: 30px;
  width: 60%;
  background-color: #000;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #bd966a;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.new-review .row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.new-review .row .col {
  position: relative;
  width: 100%;
  margin: 30px 0 10px;
  padding: 0 10px;
  transition: 0.5s;
}

.new-review .row .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
  text-align: left;
}

.new-review .row .inputBox input,
.new-review .row .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  box-shadow: none;
  border: none;
  z-index: 1;
}

.new-review .row .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  display: block;
  font-size: 16px;
  line-height: 36px;
  transition: 0.5s;
  pointer-events: none;
}

.new-review .row .inputBox input:focus {
  outline: none;
}

.new-review .row .inputBox input:focus + label,
.new-review .row .inputBox input:valid + label {
  top: -35px;
  left: -10px;
}

.new-review .row .inputBox .line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  display: block;
  background: #bd966a;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.new-review .row .inputBox input:focus ~ .line,
.new-review .row .inputBox input:valid ~ .line {
  height: 100%;
}

.new-review .row .inputBox textarea {
  height: 100%;
  resize: none;
}

.new-review .row .inputBox textarea:focus + label,
.new-review .row .inputBox textarea:valid + label {
  top: -35px;
  left: -10px;
}

.new-review .row .inputBox textarea:focus ~ .line,
.new-review .row .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  padding: 7px 35px;
  font-size: 16px;
  color: #fff;
  background: #bd966a;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

.new-review::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.753);
  background-image: url("./img/VAyR.gif");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.new-review._sending::after {
  opacity: 1;
  visibility: visible;
}
