@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

p {
  color: #bd966a;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  padding-bottom: 35px;
  font-size: 28px;
  line-height: 32px;
}

@media (min-width: 768px), (min-width: 1366px) {
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
}

.container {
  margin: 0 auto;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background-color: #000;
}

@media (min-width: 768px), (min-width: 1366px) {
  .container {
    width: auto;
    font-size: 16px;
    line-height: 20px;
  }
}

.main-header {
  background-color: #181617;
  background-image: url("./img/main-cat-mobile@1x.png");
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
}

.logo {
  text-align: center;
}

.header__info-wrapper {
  padding: 0 45px;
  padding-top: 56px;
  padding-bottom: 276px;
  text-align: center;
}

.header__info-wrapper h1 {
  padding: 20px 0;
}

.header__info {
  margin: 0 auto;
  max-width: 234px;
}

@media (min-width: 768px), (min-width: 1366px) {
  .header__info {
    margin: 0;
    max-width: 300px;
  }

  .header__info-wrapper {
    text-align: left;
  }

  .header__info-wrapper h1 {
    font-size: 52px;
    line-height: 56px;
  }
}

@media (min-width: 768px) {
  .main-header {
    background-image: url("./img/main-cat-tablet@1x.png");
  }

  .header__info-wrapper {
    padding-bottom: 117px;
    padding-right: 400px;
  }
}

@media (min-width: 1366px) {
  .main-header {
    background-image: url("./img/main-cat-desktop@1x.png");
  }

  .header__info-wrapper {
    padding-bottom: 220px;
    padding-left: 202px;
    padding-right: 500px;
  }
}

.btn-link {
  margin-top: 40px;
  padding: 12px 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border: 2px solid #bd966a;
}

.btn-link:hover {
  background-color: #bd966a;
}

@media (min-width: 768px), (min-width: 1366px) {
  .btn-link {
    padding: 18px 15px;
  }
}

.section__cats {
  padding: 60px 19px 30px;
  background-color: #1f1c1d;
}

@media (min-width: 768px) {
  .section__cats {
    padding: 100px 10px 50px;
  }
}

@media (min-width: 1366px) {
  .section__cats {
    padding: 223px 141px 50px;
  }
}

@media (min-width: 768px), (min-width: 1366px) {
  .section__cats-description {
    margin: 0 auto;
    max-width: 516px;
  }
}

.section__cats-category-list {
  margin: 40px auto;
  width: 234px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.section__cats-category-list li {
  font-size: 16px;
  opacity: 0.4;
  cursor: pointer;
}

.section__cats-category-list li:hover,
:active {
  opacity: 1;
}

@media (min-width: 768px), (min-width: 1366px) {
  .section__cats-category-list li {
    font-size: 18px;
  }
}

.section__cats-slider {
  position: relative;
  padding: 0 22px;
  overflow: hidden;
}

.section__cats-main-slider {
  display: flex;
  justify-content: start;
  align-items: center;
  transition: transform 1s ease-in-out;
}

.section__cats-slider-item {
  width: 100%;
}

.section__cats-slider-item img {
  margin: 0 21px;
  width: 234px;
  object-fit: cover;
  object-position: center;
}

.section__cats-controls-prev,
.section__cats-controls-next {
  position: absolute;
  font-size: 40px;
  color: #bd966a;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section__cats-controls-prev {
  top: 50%;
  left: 0;
}

.section__cats-controls-next {
  top: 50%;
  right: 0;
}

.section__cats-controls-prev,
.section__cats-controls-next:hover {
  color: #fff;
}

.cats-slider-item {
  height: 530px;
  flex-shrink: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
